body, html{
  background-color: #282c34;
  height: 100%;
}
.title{
  text-align: center;
  font-size: 30px;
}
.menu_wrapper{
  display: flex;
  margin:0 auto;
  width: 50%;
  height: 100%;
}
.block-list{
  width:50%;
  margin-left: 10px;
  border-radius: 10px;
  background-color: white;
}

.item-wrapper{
  position: relative;
  margin-top: 50px;
  background-color: rgba(233, 121, 171, 20%);
  display: flex;
  padding-left: 10px;
}
.item-name{
  font-size: 18px;
  font-weight: 400;
}

.item-img{
  position: absolute;
  top:-10px;
  left: -60px;
  width:50%;
}

.item-block{
  width:50%;
  padding-bottom: 10px;
}

.item-price{
  font-size: 32px;
  font-weight: 700;
}
.btn-to-cart{
  border-radius: 20px;
  border:none;
  background-color: #6B00F5;
  padding: 10px 30px;
  color: white;
  font-weight: 700;
  cursor: pointer;
}
.btn-disabled{
  background-color: #282c34; 
}

.cart-item-wrapper{
  display: flex;
  background-color: aliceblue;
  border-bottom: 1px solid lightgray;
  padding: 10px;
}
.cart-item-block-left{
  width:30%;
  text-align: center;
}
.cart-item-block-right{
  width:70%;
}
.cart-item-img{
  width:90%;
}
.count_button{
  padding: 10px;
  margin: 0px 10px;
  background-color: rgb(61, 162, 61);
  border:none;
  color: white;
  font-weight: 600;
}
.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
 .item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
